<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="order by dede58.com" />
    <title>小米商城</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/css/style.css">
</head>
<body>
    <div class="adcenter">
        <script src="../../../www.cssmoban.com/include/new/ggad2_728x90.js" tppabs="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script>
    </div>
    <!-- start header -->
    <header>
        <div class="top center">
            <div class="left fl">

            </div>
            <div class="right fr">
                <div class="gouwuche fr"><a href="">购物车</a></div>
                <div class="fr">
                    <ul>
                        <li><a href="login.html" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/login.html" target="_blank">登录</a></li>
                        <li>|</li>
                        <li><a href="register.html" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/register.html" target="_blank">注册</a></li>
                        <li>|</li>
                        <li><a href="">消息通知</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <!--end header -->
    <!-- start banner_x -->
    <div class="banner_x center">
        <a href="index.html" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/index.html" target="_blank"><div class="logo fl"></div></a>
        <a href=""><div class="ad_top fl"></div></a>
        <div class="nav fl">
            <ul>
                <li><a href="liebiao.html" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/liebiao.html" target="_blank">列表</a></li>
                <li><a href="">题库一</a></li>
                <li><a href="">免费专区</a></li>
            </ul>
        </div>
        <div class="search fr">
            <form action="" method="post">
                <div class="text fl">
                    <input type="text" class="shuru" placeholder="搜索">
                </div>
                <div class="submit fl">
                    <input type="submit" class="sousuo" value="搜索" />
                </div>
                <div class="clear"></div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end banner_x -->
    <!-- start banner_y -->
    <div class="banner_y center">
        <div class="nav">
            <ul>
                <li>
                    <a href="">分类一</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">分类一6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="xiangqing.html" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/xiangqing.html" target="_blank">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">分类一65c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">分类一66 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">分类一6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">分类一65s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">分类一65s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">分类一65</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">分类一6Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">分类一6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">分类一64x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">分类一64</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">分类一64A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">分类一6</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/compare.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/compare.jpg" alt=""></div>
                                        <span class="fl">分类一6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/mimobile.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/mimobile.jpg" alt=""></div>
                                        <span class="fl">
                                            灏绫崇Щ&nbsp;佃?/span>
                                            <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">骞虫</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">灏绫虫5</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">绾㈢背Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背Note-4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">绾㈢背4x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">佃</a>
                    <a href="">瀛</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">灏绫虫5</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">绾㈢背Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背Note-4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">绾㈢背4x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/compare.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/compare.jpg" alt=""></div>
                                        <span class="fl">瀵规</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/mimobile.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/mimobile.jpg" alt=""></div>
                                        <span class="fl">
                                            灏绫崇Щ&nbsp;佃?/span>
                                            <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">鸿界‖浠</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">灏绫虫5</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">绾㈢背Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背Note-4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">绾㈢背4x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/compare.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/compare.jpg" alt=""></div>
                                        <span class="fl">瀵规</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/mimobile.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/mimobile.jpg" alt=""></div>
                                        <span class="fl">
                                            灏绫崇Щ&nbsp;佃?/span>
                                            <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">绉诲ㄧ垫</a>
                    <a href="">垫</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">灏绫虫5</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">绾㈢背Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背Note-4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">绾㈢背4x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/compare.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/compare.jpg" alt=""></div>
                                        <span class="fl">瀵规</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/mimobile.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/mimobile.jpg" alt=""></div>
                                        <span class="fl">
                                            灏绫崇Щ&nbsp;佃?/span>
                                            <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">虫</a>
                    <a href="">崇</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="ctn fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5-80.jpg" alt=""></div>
                                        <span class="fl">灏绫虫5</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmn4x80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmn4x80.png" alt=""></div>
                                        <span class="fl">绾㈢背Note 4X</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hmnote4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hmnote4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背Note-4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4x_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4x_80.png" alt=""></div>
                                        <span class="fl">绾㈢背4x</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/hm4A-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hm4A-80.jpg" alt=""></div>
                                        <span class="fl">绾㈢背4A</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/compare.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/compare.jpg" alt=""></div>
                                        <span class="fl">瀵规</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/mimobile.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/mimobile.jpg" alt=""></div>
                                        <span class="fl">
                                            灏绫崇Щ&nbsp;佃?/span>
                                            <div class="clear"></div>
                                    </a>
                                </div>
                                <!-- <div class="xuangou_right fr"><a href="">璐</a></div> -->
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>

                    <a href="">璐磋</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">绾挎</a>
                    <a href=""></a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">绠卞</a>
                    <a href="">楗</a>
                    <a href="">奸</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <a href="">绫冲</a>
                    <a href="">娲诲ㄨ竟</a>
                    <div class="pop">
                        <div class="left fl">
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm6_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm6_80.png" alt=""></div>
                                        <span class="fl">灏绫6</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/5c_80.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/5c_80.png" alt=""></div>
                                        <span class="fl">灏绫虫5c</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xmNOTE2-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xmNOTE2-80.jpg" alt=""></div>
                                        <span class="fl">灏绫Note 2</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫MIX</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/MIX-80.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/MIX-80.jpg" alt=""></div>
                                        <span class="fl">灏绫5s</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="xuangou_left fl">
                                    <a href="">
                                        <div class="img fl"><img src="image/xm5Splus.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xm5Splus.jpg" alt=""></div>
                                        <span class="fl">灏绫5s Plus</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="xuangou_right fr"><a href="">璐</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="sub_banner center">
        <div class="sidebar fl">
            <div class="fl"><a href=""><img src="image/hjh_01.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_01.gif"></a></div>
            <div class="fl"><a href=""><img src="image/hjh_02.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_02.gif"></a></div>
            <div class="fl"><a href=""><img src="image/hjh_03.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_03.gif"></a></div>
            <div class="fl"><a href=""><img src="image/hjh_04.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_04.gif"></a></div>
            <div class="fl"><a href=""><img src="image/hjh_05.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_05.gif"></a></div>
            <div class="fl"><a href=""><img src="image/hjh_06.gif" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hjh_06.gif"></a></div>
            <div class="clear"></div>
        </div>
        <div class="datu fl"><a href=""><img src="image/hongmi4x.png.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hongmi4x.png" alt=""></a></div>
        <div class="datu fl"><a href=""><img src="image/xiaomi5.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/xiaomi5.jpg" alt=""></a></div>
        <div class="datu fr"><a href=""><img src="image/pinghengche.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinghengche.jpg" alt=""></a></div>
        <div class="clear"></div>


    </div>
    <!-- end banner -->
    <div class="tlinks">Collect from <a href="javascript:if(confirm('http://www.cssmoban.com/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://www.cssmoban.com/'" tppabs="http://www.cssmoban.com/">浼涓缃绔妯℃</a></div>

    <!-- start danpin -->
    <div class="danpin center">

        <div class="biaoti center">灏绫虫</div>
        <div class="main center">
            <div class="mingxing fl">
                <div class="sub_mingxing"><a href=""><img src="image/pinpai1.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinpai1.png" alt=""></a></div>
                <div class="pinpai"><a href="">灏绫MIX</a></div>
                <div class="youhui">
                    5??21ヤ韩卞12?
                </div>
                <div class="jiage">3499璧</div>
            </div>
            <div class="mingxing fl">
                <div class="sub_mingxing"><a href=""><img src="image/pinpai2.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinpai2.png" alt=""></a></div>
                <div class="pinpai"><a href="">灏绫5s</a></div>
                <div class="youhui">
                    5??10ワ涓绔200?
                </div>
                <div class="jiage">
                    1999
                </div>
            </div>
            <div class="mingxing fl">
                <div class="sub_mingxing"><a href=""><img src="image/pinpai3.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinpai3.png" alt=""></a></div>
                <div class="pinpai"><a href="">灏绫虫5 64GB</a></div>
                <div class="youhui">
                    5??10ワ涓绔100?
                </div>
                <div class="jiage">
                    1799
                </div>
            </div>
            <div class="mingxing fl">
                <div class="sub_mingxing"><a href=""><img src="image/pinpai4.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinpai4.png" alt=""></a></div>
                <div class="pinpai"><a href="">灏绫崇佃3s 55卞</a></div>
                <div class="youhui">
                    5?ワ涓绔200?
                </div>
                <div class="jiage">
                    3999
                </div>
            </div>
            <div class="mingxing fl">
                <div class="sub_mingxing"><a href=""><img src="image/pinpai5.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/pinpai5.png" alt=""></a></div>
                <div class="pinpai"><a href="">灏绫崇璁版?</a></div>
                <div class="youhui">
                    磋交磋锛蹇涓烽韬哄?
                </div>
                <div class="jiage">3599璧</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="peijian w">
        <div class="biaoti center">浠</div>
        <div class="main center">
            <div class="content">
                <div class="remen fl">
                    <a href=""><img src="image/peijian1.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian1.jpg"></a>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span>板</span></div>
                    <div class="tu"><a href=""><img src="image/peijian2.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian2.jpg"></a></div>
                    <div class="miaoshu"><a href="">灏绫6 纭朵ゅ?</a></div>
                    <div class="jiage">
                        49
                    </div>
                    <div class="pingjia">
                        372浜鸿浠
                    </div>
                    <div class="piao">
                        <a href="">
                            <span>
                                璐ч搴寰蹇锛寰灏绫?锛?
                            </span>
                            <span>ヨ充mi肩璇浠?</span>
                        </a>
                    </div>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:#fff"></span></div>
                    <div class="tu"><a href=""><img src="image/peijian3.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian3.jpg"></a></div>
                    <div class="miaoshu"><a href="">灏绫虫4c 灏绫4c 鸿</a></div>
                    <div class="jiage">
                        29?
                    </div>
                    <div class="pingjia">
                        372浜鸿浠?
                    </div>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:red">浜??/span></div>
                    <div class="tu"><a href=""><img src="image/peijian4.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian4.jpg"></a></div>
                    <div class="miaoshu"><a href="">绾㈢背NOTE 4X 绾㈢背note4X</a></div>
                    <div class="jiage">
                        19
                    </div>
                    <div class="pingjia">
                        372浜鸿浠
                    </div>
                    <div class="piao">
                        <a href="">
                            <span>
                                璐ч搴寰蹇锛寰灏绫?锛?/span>
                                <span>ヨ充mi肩璇浠?/span>
                        </a>
                    </div>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:#fff"></span></div>
                    <div class="tu"><a href=""><img src="image/peijian5.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian5.jpg"></a></div>
                    <div class="miaoshu"><a href="">灏绫虫跺</a></div>
                    <div class="jiage">
                        89
                    </div>
                    <div class="pingjia">
                        372浜鸿浠
                    </div>
                    <div class="piao">
                        <a href="">
                            <span>
                                璐ч搴寰蹇锛寰灏绫?锛?/span>
                                <span>ヨ充mi肩璇浠?/span>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content">
                <div class="remen fl">
                    <a href=""><img src="image/peijian6.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian6.png"></a>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:#fff"></span></div>
                    <div class="tu"><a href=""><img src="image/peijian7.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian7.jpg"></a></div>
                    <div class="miaoshu"><a href="">灏绫虫</a></div>
                    <div class="jiage">
                        19
                    </div>
                    <div class="pingjia">
                        372浜鸿浠
                    </div>
                    <div class="piao">
                        <a href="">
                            <span>
                                璐ч搴寰蹇锛寰灏绫?锛?/span>
                                <span>ヨ充mi肩璇浠?/span>
                        </a>
                    </div>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:#fff"></span></div>
                    <div class="tu"><a href=""><img src="image/peijian8.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian8.jpg"></a></div>
                    <div class="miaoshu"><a href="">绫冲堕韬椋</a></div>
                    <div class="jiage">
                        19.9
                    </div>
                    <div class="pingjia">
                        372浜鸿浠
                    </div>
                </div>
                <div class="remen fl">
                    <div class="xinpin"><span style="background:#fff"></span></div>
                    <div class="tu"><a href=""><img src="image/peijian9.jpg" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/peijian9.jpg"></a></div>
                    <div class="miaoshu"><a href="">绾㈢背4X楂杞朵ゅ</a></div>
                    <div class="jiage">
                        59
                    </div>
                    <div class="pingjia">
                        775浜鸿浠
                    </div>
                </div>
                <div class="remenlast fr">
                    <div class="hongmi"><a href=""><img src="image/hongmin4.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/hongmin4.png" alt=""></a></div>
                    <div class="liulangengduo"><a href=""><img src="image/liulangengduo.png" tppabs="http://demo.cssmoban.com/cssthemes5/cpts_1293_byy/image/liulangengduo.png" alt=""></a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <footer class="mt20 center">
        <div class="mt20">灏绫冲|MIUI|绫宠|澶涔|灏绫宠矾卞|瑙棰佃|灏绫冲ぉ搴|灏绫虫瀹磋ュ|灏绫崇|灏绫崇Щ|绉跨|Select Region</div>
        <div>
            漏mi.com 浜ICP璇?10507?浜ICP澶?0046444?浜缃瀹澶?1010802020134?浜缃[2014]0059-0009
        </div>
        <div>杩娉涓淇℃涓炬ョ佃锛185-0130-1238锛缃绔版锛ょ规璇存锛版鸿稿楠瀹ゆ璇</div>
    </footer>
</body>
</html>